{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": ["transform-decorators-legacy", "react-require"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
